<a href="https://colab.research.google.com/github/tuitenrein/Google-Colab/blob/main/MyFirstColabNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import time
print(time.ctime())

Thu Oct 27 08:35:23 2022

This is **bold**.
This is *Italic*.
This is ~strikethrough~.

$\sqrt{3x-1}+(1+x)^2$

$e^x = \sum_{i = 0}^\infty \frac{1}{i!}x^i$

In [ ]:
message = 'A greate tutorial on colab by Tutorialspoint!'
greeting = !echo -e $message', '$message
greeting

['A greate tutorial on colab by Tutorialspoint!, A greate tutorial on colab by Tutorialspoint!']

In [ ]:
!wget http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.data -P "/content/drive/My Drive/app"

In [13]:
import pandas as pd
url = 'https://drive.google.com/file/d/1pxxZblKKLZybywjbanwIb9dXjv83W04P/view?usp=sharing'
url= 'https://drive.google.com/uc?id=' + url.split('/')[-2]
data = pd.read_csv(url)
data.head(5)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0